<%- include('../partials/header2.ejs') %>
<link rel="stylesheet" href="/css/vinyl.css">
<div class="container">
  <img class="vinyl-image" src="/images/<%= vinyl.image %>" alt="<%= vinyl.title %>" height="400" width="300">
  <div class="details">
    <h2><%= vinyl.title %></h2>
    <p>Artist: <%= vinyl.artist %></p>
    <p>Condition: <%= vinyl.condition %></p>
    <p>Price: $<%= vinyl.price %></p>
    <p class="seller"><%= vinyl.seller.firstName + ' ' + vinyl.seller.lastName %> | <%= vinyl.totalOffers %> offers</p>
    <p>Description: <%= vinyl.details %></p>
    <% if (vinyl.active && user && !isOwner) { %>
      <div class="offer-form">
        <form action="/vinyls/<%= vinyl._id %>/offers" method="POST">
          <input type="number" name="amount" min="0.01" step="0.01" placeholder="Enter your offer amount" required>
          <button type="submit">Make an Offer</button>
        </form>
        <% if (vinyl.highestOffer > 0) { %>
          <p>Current Highest Offer: $<%= vinyl.highestOffer.toFixed(2) %></p>
        <% } %>
      </div>
    <% } %>
    <% if (!vinyl.active) { %>
      <p style="color: red;">Unfortunately this vinyl is no longer available</p>
    <% } %>
  </div>
</div>
<%- include('../partials/footer.ejs') %>